@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>


@if (!string.IsNullOrEmpty(Model.ResetLink))
{
    <p>
        If an account is exists , a password reset link has been generated.
    </p>
    <div style="margin-top:20px; padding:15px; border:1px solid #ccc;">
        <strong>🔗 Reset Password Link (Demo Only):</strong>
        <div>
            @Html.Raw(Model.ResetLink)
        </div>
    </div>
}else
{
    <p style="color:red;">
        Your email is not confirmed or may not exist.
    </p>
}
