@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UniversityCanteenFoodOrderingSystem.Areas.Identity.Data.AppUser

@{
    ViewData["Title"] = "Create User";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>Create New User</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="UserType" class="control-label"></label>
        <select asp-for="UserType" class="form-control">
            <option value="Customer">Customer</option>
            <option value="Admin">Admin</option>
        </select>
        <span asp-validation-for="UserType" class="text-danger"></span>
    </div>

    <div class="form-group position-relative">
        <label>Password</label>
        <input id="passwordInput" name="password" type="password" class="form-control" />

        <!-- Eye icon inside the input field -->
        <i id="toggleIcon" onclick="togglePassword()"
           class="bi bi-eye-fill"
           style="position:absolute; right:10px; top:38px; cursor:pointer; font-size:1.2rem;"></i>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>


 @section Scripts {
        <script>
            function togglePassword() {
                var input = document.getElementById("passwordInput");
                var icon = document.getElementById("toggleIcon");

                if (input.type === "password") {
                    input.type = "text";
                icon.classList.remove("bi-eye-fill");
                icon.classList.add("bi-eye-slash-fill");
                } else {
                    input.type = "password";
                icon.classList.remove("bi-eye-slash-fill");
                icon.classList.add("bi-eye-fill");
                }
            }
        </script>
    }
